.timer {
    background-color: blue;
    border: 1px green solid;
}

.debug {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
}