nav.navbar.navbar-default {
  margin-bottom: 0;
}

.mainFont {
  color: white;
  font-weight: 500;
  font-size: 300% !important;
  font-family: 'Comfortaa';
  text-decoration: none;
}

a:hover {
  color: #eeeeee !important;
  text-decoration: none;
}